@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?1827ar');
  src:  url('fonts/icomoon.eot?1827ar#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?1827ar') format('truetype'),
    url('fonts/icomoon.woff?1827ar') format('woff'),
    url('fonts/icomoon.svg?1827ar#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-trash-o:before {
  content: "\e907";
}
.icon-phone:before {
  content: "\e905";
}
.icon-envelope:before {
  content: "\e906";
}
.icon-caret-down:before {
  content: "\e902";
}
.icon-caret-up:before {
  content: "\e903";
}
.icon-information-no-circle:before {
  content: "\e904";
}
.icon-chevron-circle-left:before {
  content: "\21";
}
.icon-no-document:before {
  content: "\22";
}
.icon-star:before {
  content: "\23";
}
.icon-truck-no:before {
  content: "\25";
}
.icon-admin:before {
  content: "\26";
}
.icon-view:before {
  content: "\27";
}
.icon-document:before {
  content: "\28";
}
.icon-star-line:before {
  content: "\29";
}
.icon-money:before {
  content: "\2a";
}
.icon-no-order:before {
  content: "\2b";
}
.icon-send:before {
  content: "\2c";
}
.icon-half-star:before {
  content: "\2d";
}
.icon-refund:before {
  content: "\2e";
}
.icon-no-wifi:before {
  content: "\2f";
}
.icon-direction:before {
  content: "\30";
}
.icon-more:before {
  content: "\31";
}
.icon-user-no:before {
  content: "\32";
}
.icon-chevron-right:before {
  content: "\33";
}
.icon-plus-circle:before {
  content: "\34";
}
.icon-truck:before {
  content: "\35";
}
.icon-driver:before {
  content: "\36";
}
.icon-type:before {
  content: "\37";
}
.icon-handshake:before {
  content: "\38";
}
.icon-cross-circle:before {
  content: "\39";
}
.icon-dumpsite:before {
  content: "\3a";
}
.icon-advertising:before {
  content: "\3b";
}
.icon-menu:before {
  content: "\3c";
}
.icon-sound:before {
  content: "\3d";
}
.icon-heart-fulfill:before {
  content: "\3e";
}
.icon-download:before {
  content: "\3f";
}
.icon-pin-fulfill:before {
  content: "\40";
}
.icon-Asset-27:before {
  content: "\41";
}
.icon-cogwheel:before {
  content: "\42";
}
.icon-image:before {
  content: "\43";
}
.icon-comment:before {
  content: "\44";
}
.icon-printer:before {
  content: "\45";
}
.icon-business:before {
  content: "\46";
}
.icon-position:before {
  content: "\47";
}
.icon-note-add:before {
  content: "\48";
}
.icon-analytics:before {
  content: "\49";
}
.icon-lock:before {
  content: "\4a";
}
.icon-product:before {
  content: "\4b";
}
.icon-bin-request:before {
  content: "\4c";
}
.icon-collection-request:before {
  content: "\4d";
}
.icon-pencil:before {
  content: "\4e";
}
.icon-heart:before {
  content: "\4f";
}
.icon-magnifier:before {
  content: "\50";
}
.icon-suspend:before {
  content: "\51";
}
.icon-mobile:before {
  content: "\52";
}
.icon-collection-request-fulfil:before {
  content: "\53";
}
.icon-bin-request-fulfil:before {
  content: "\54";
}
.icon-product-fulfil:before {
  content: "\55";
}
.icon-globe:before {
  content: "\56";
}
.icon-question-fulfil:before {
  content: "\57";
}
.icon-question:before {
  content: "\58";
}
.icon-notify:before {
  content: "\59";
}
.icon-information:before {
  content: "\5a";
}
.icon-cart:before {
  content: "\5b";
}
.icon-horizontal:before {
  content: "\5c";
}
.icon-scale:before {
  content: "\5d";
}
.icon-bell:before {
  content: "\5e";
}
.icon-no-sound:before {
  content: "\5f";
}
.icon-danger:before {
  content: "\60";
}
.icon-chevron-left:before {
  content: "\61";
}
.icon-chevron-circle-right:before {
  content: "\62";
}
.icon-check:before {
  content: "\63";
}
.icon-plus:before {
  content: "\64";
}
.icon-minus:before {
  content: "\65";
}
.icon-cross:before {
  content: "\66";
}
.icon-location:before {
  content: "\67";
}
.icon-users:before {
  content: "\68";
}
.icon-clock:before {
  content: "\69";
}
.icon-scan:before {
  content: "\6a";
}
.icon-reset-password:before {
  content: "\6b";
}
.icon-check-circle-fulfill:before {
  content: "\6c";
}
.icon-check-circle:before {
  content: "\6d";
}
.icon-mail:before {
  content: "\6e";
}
.icon-floppy-disk:before {
  content: "\6f";
}
.icon-camera:before {
  content: "\70";
}
.icon-checkbox:before {
  content: "\71";
}
.icon-radio-btn:before {
  content: "\72";
}
.icon-checkbox-selected:before {
  content: "\73";
}
.icon-radio-selected:before {
  content: "\74";
}
.icon-coupon:before {
  content: "\75";
}
.icon-calendar:before {
  content: "\76";
}
.icon-history:before {
  content: "\77";
}
.icon-bin:before {
  content: "\78";
}
.icon-user:before {
  content: "\79";
}
.icon-home:before {
  content: "\7a";
}
.icon-filter:before {
  content: "\7b";
}
.icon-vertical:before {
  content: "\7c";
}
.icon-card:before {
  content: "\7e";
}
.icon-charity:before {
  content: "\e900";
}
.icon-open-link:before {
  content: "\e901";
}
