<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>47402281135-oasbfukt5sb1val3f2bt8rk0aorsb56t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.47402281135-oasbfukt5sb1val3f2bt8rk0aorsb56t</string>
	<key>API_KEY</key>
	<string>AIzaSyBPE4TzRDjcvcWv2eDh_g0M9vRGGPmRCJM</string>
	<key>GCM_SENDER_ID</key>
	<string>47402281135</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.ios</string>
	<key>PROJECT_ID</key>
	<string>rnboilerplate-73de8</string>
	<key>STORAGE_BUCKET</key>
	<string>rnboilerplate-73de8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:47402281135:ios:2208a87ef10f8668838c5a</string>
</dict>
</plist>